* {
  box-sizing: border-box;
}

.wrapper {
  background: url(../../Images/wing.jpg);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.SignupForm {
  text-align: center;
}

input,
label {
  display: block;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 10%;
}

button {
  padding: 5px 10px;
  margin-top: 15px;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

input::placeholder {
  padding-left: 5px;
  font-size: 16px;
}

@media screen and (min-width: 700px) {
  .wrapper {
    background: url(../../Images/flight.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
  }

  .formSection {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}