* {
  box-sizing: border-box;
}

.Landing {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../Images/wing.jpg);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  height: 180vh;
}

.LandingSection {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Card {
  text-align: center;
  margin: 10px 20px;
  display: inline-block;
  font-size: 18px;
  align-content: center;
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  .Landing {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../Images/flight.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    height: 130vh;
  }

  .Card {
    font-size: 24px;
  }

  h1 {
    font-size: 45px;
  }
}
