* {
  box-sizing: border-box;
}

.UserPage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../Images/wing.jpg);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.UserPageSection {
    text-align: center;
}

.create_flight {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
    .UserPage {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../Images/flight.jpg);
      background-position: center center;
      background-size: cover;
      color: #ffffff;
      height: 100vh;
    }

  }