* {
  box-sizing: border-box;
}

.search {
  margin-top: 40px;
}

label {
  margin-bottom: 5px;
}

.flightDetails {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../Images/wing.jpg);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}


@media screen and (min-width: 700px) {
    .flightDetails {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../Images/flight.jpg);
      background-position: center center;
      background-size: cover;
      color: #ffffff;
      height: 100vh;
    }
  }